.autorizationWithSocials {
  display: flex;
  margin: 20px 0;
  color: #fff;
  text-decoration: none;
  align-items: center;
  img {
    margin-right: 10px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
  }
}
