.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 0 62px 0;
  height: 54px;
}
.typesConcertsContainer {
  display: flex;
  color: #6d6d6d;
  font-size: 18px;
  div {
    margin-right: 65px;
  }
  div:last-child {
    margin-right: 0;
  }
}
.active {
  color: #fff;
}
.inputAndBellContainer {
  display: flex;
  max-width: 420px;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
.inputContainer {
  height: 54px;
  max-width: 358px;
  width: 90%;
  position: relative;
  input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    height: 100%;
    color: #fff;
    padding-right: 50px;
  }
}
.whereUser {
  font-size: 24px;
  font-weight: 600;
}
.logo {
  min-width: 98px;
  width: 98px;
  height: 14px;
}
@media (max-width: 1000px) {
  .typesConcertsContainer {
    display: none;
  }
  .whereUser {
    display: none;
  }
  .header {
    padding: 12px 0 32px 0;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0px 0 45px 0;
  }
  .inputAndBellContainer {
    width: auto;
  }
  .logo {
    min-width: 90px;
    width: 90px;
    height: 13px;
  }
}
