.container {
  margin-right: 20px;
  position: relative;
}
.img {
  border-radius: 10px;
}
.date {
  background-color: #67d89e;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 16px;
  span {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
  }
}
.information {
  display: flex;
  margin-top: 23px;
}
.textContainer {
  margin-left: 10px;
}
.name2 {
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
}
.typesConcerts {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.carousel {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}
.name {
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  line-height: 20px;
  span {
    margin-right: 10px;
  }
}
