.carousel {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}
.carousel::-webkit-scrollbar {
  height: 3px; /* ширина scrollbar */
}
.carousel::-webkit-scrollbar-track {
  background: black; /* цвет дорожки */
}
.carousel::-webkit-scrollbar-thumb {
  background-color: #fff; /* цвет плашки */
}
.name {
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  align-items: end;
  font-weight: 600;
  line-height: 20px;
  span {
    margin-right: 10px;
  }
}
